body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #ff3e3e;
}

button {
    background-color: #3b4cca;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #ffde00;
    color: black;
}